[user]
	name = Ted Cook
	email = 33679293+tedcook94@users.noreply.github.com
	signingkey = 8A8CD9B2
[core]
	editor = nvim
	pager = delta
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true    # use n and N to move between diff sections
	side-by-side = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default


[includeIf "hasconfig:remote.*.url:git@github.com:flocksafety/**"]
	path=.gitconfig-flock
[url "ssh://git@github.com/flocksafety"]
	insteadOf = https://github.com/flocksafety
